[submodule "Cheese/vendor/spdlog"]
	path = Cheese/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Cheese/vendor/glfw"]
	path = Cheese/vendor/glfw
	url = git@github.com:TheCherno/glfw.git
